@tailwind preflight;

@tailwind components;

@tailwind utilities;




html  {
		top: 0;
		left: 0;
		width: 100%;
        height: 100%;
        background-color: #03031F;
		background-image: url("assets/bg.jpg");
        background-position: center center;  
    }

.markdown-body {
    background: rgba(255, 255, 255,.175);
    font-family: 'Work Sans', Verdana, sans-serif;
    src: local('Work Sans'), local('Work-Sans'), url(./fonts/WorkSans-ExtraLight.otf) format('otf');
}

.nav, .footer {
    background: rgba(255, 255, 255,.25);
}
@css {
    .blog-body p {
        @apply .pb-5;
    }
    html {
        @apply .bg-cover .bg-no-repeat .bg-fixed;
    }
}

//video media queries
@media (max-width: 576px) {
    .video {
        width: 200px
        height: 175px  
    }
}

@media (min-width: 576px) {
    .video {
        width: 360px
        height: 215px  
    }
}

@media (min-width: 1200px) {
    .video {
        width: 560px
        height: 315px  
    }
}


